#background {
    width: 100%; 
    height: 100%; 
    position: fixed; 
    left: 0px; 
    top: 0px; 
    z-index: -1; /* Ensure div tag stays behind content; -999 might work, too. */
}

.stretch {
    width:100%;
    height:100%;
}

@media (min-device-width:320px) {
        img[data-src-960px] {
            content: attr(data-src-960px, url);
        }
   }

@media (min-device-width:960px) {
       img[data-src-1260px] {
            content: attr(data-src-1260px, url);
        }
   }
